body {
    font-family: sans-serif;
    background-color: #333333;
    width: 90%;
    margin: auto;
}

h1, h2, h3, h4 {
    color: #333;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
    margin-bottom: 15px;
    font-size: 40px;
}

h2 {
    font-size: 1.2em;
}

p, dd, dt {

}

a {
    text-decoration: none;
    color:#333;
}

.pane {
    padding: 8px;
    margin: 5px;
    background-color: #FFF;
}

.header {
    left:50%;
    text-align: center;
}

.new_restaurant, .new_menu{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 1em;
    margin-bottom: 15px;
}

.restaurant_name {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3em;
    text-align: center;
    margin: 20px;
}

.name {
    font-family: 'Cormorant Garamond', serif;
    width:50%;
    display: inline-block;
    float: left;
    color: #bb8c00;
}

.description {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1em;
    color: #333;
    width: 90%;
}
.price {
    text-align: right;
    width:50%;
    float: right;
    color: #bb8c00;
}

.editdeletepane{
    font-size: .6em;
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 5px;
}

.editdelete_menu{
    font-size: .75em;
    position: absolute;
    right: 0;
    top: 50%;
    text-align: right;
}

.list {
    position: relative;
}
.flash {
    background: #cee5F5;
}

.new {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

.input_box{
    width: 30%;
    height: 50px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    text-align: center;
    border: .01em solid #b1a503;
}

.button {
   font-family: 'Cormorant Garamond', serif;
   text-decoration: none;
   vertical-align: middle;
   border: .01em solid #a0a0a0;
   padding: 5px;
   font-size: 13px;
   background-color: #fff;
}


.delete_message {
    color: yellow;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}