<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class = 'pane'>
    <div class = 'header'>
        <h1> Edit Menu Item </h1>
    </div>

    <div class='new'>
        <form action="{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'POST'>

        <p>Name &nbsp; Price</p>
        <p><input class='input_box' type='text' size='30' name='name' value='{{item.name}}'>
        <input class='input_box' type='text' value='{{item.price}}' name='price'></p>

        <p> Description </p>
        <p><textarea class='description_area' name='description'>{{item.description}}</textarea></p>

        <input class='button' type='submit' value='Edit'>
        <a class='button' href="{{url_for('showMenu', restaurant_id=restaurant_id)}}"> Cancel </a>

        </form>
    </div>
</div>

</body>
</html>