<!DOCTYPE HTML SYSTEM>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Cormorant+Garamond" rel="stylesheet">
</head>
<body>

<div class = 'pane'>
    <div class = 'header'>
        <h1> Restaurants </h1>
        {%if 'username' not in session %}
            <a href="{{url_for('showLogin')}}">Click Here to Login </a>
        {% else %}
            <a href="{{url_for('disconnect')}}">Logout </a>
        {% endif %}
    </div>
    <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <strong> {{message}} </strong>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% for r in restaurants %}
    <div class='list'>
        <div class = 'restaurant_name'>
            <a href="{{url_for('showMenu', restaurant_id=r.id)}}">{{r.name}}</a>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>