<!DOCTYPE HTML SYSTEM>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div class = 'pane'>
    <div class = 'header'>
        <h1>{{restaurant.name}}
        <figure class="creator">
            <img src="{{creator.picture}}">
            <figcaption>{{ creator.name }}</figcaption>
        </figure>
        </h1>
    </div>

    <div class = 'flash'>
        {% with messages= get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <strong> {{message}} </strong>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% for i in items %}

    <div class = 'nameAndPrice'>
        <span class = 'name'><p>{{i.name}}</p></span>
        <span class = 'price'><p> {{i.price}} </p></span>
    </div>

    <div class='list'>
        <div class = 'description'>
            <span class = 'description'><p>{% if i.description %} {{i.description}} {% else %} None {% endif %}</p></span>
        </div>
    </div>




    {% endfor %}
</div>
</body>
</html>